.exercise img{
    width: 286px;
    height: 286px;
    border-radius: 7px;
}
.exercise{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.exercise-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
    margin-top: 7px;
}
.exercise-info{
    margin: 0 14px;
}
.btn-cart{
    width: 100%;
    background-color: rgb(116, 116, 180);
    border: none;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart 
.btn-cart:hover{
    background-color: blue;
}
